
<div class="container">
    <ul class="menu">
        <li class="menu-item"  [routerLinkActive]="['active']">
            <a [routerLink]="'/dashboard/home'">
                 Home
                </a>
          </li>
          <li class="menu-item" [routerLinkActive]="['active']">
            <a  [routerLink]="'/dashboard/building'">
                 Edificios
                </a>
          </li>
      </ul>
    <div class="dashboard-container">
        <router-outlet></router-outlet>
    </div>
</div>
